.container-card-news {
    background-color: #FFFFFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title-news {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FF8C00;
    margin-bottom: 25px;
}

.card-news {
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 70px rgba(94, 90, 135, 0.15);
    margin: 10px auto;
}

.title-card-news {
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #3B3C6E;    
}

.subtitle-published {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 0.04em;
    color: #FF8C00;
}

@media only screen and (max-width: 767px) {
    .card-news {
        width: 100%;
        margin: 5px auto;
        text-align: center;
    }
}
